@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
body {
  font-family: "Poppins", sans-serif;
}

#wrapper {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

#posts {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

#photos {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

#users {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

#btn {
  padding: 5px 10px;
  background-color: red;
  color: white;
  font-size: 20px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

#todos {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

#albums {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}

.block {
  border: 3px solid rgb(246, 5, 5);
  border-radius: 25px;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
}

.block h3 {
  color: rgb(41, 97, 209);
  font-size: 18px;
  margin: 10px 0;
}

.block p {
  color: rgb(34, 3, 27);
  font-size: 16px;
  margin: 8px 0;
  font-weight: 400;
}

.block span {
  color: rgb(14, 208, 114);
  font-size: 14px;
  margin-top: 10px;
  font-weight: 400;
}